<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdn.bootcss.com/showdown/1.4.1/showdown.js"></script>
    <script src="http://cn.vuejs.org/js/vue.js"></script>
    <link rel="stylesheet" href="dist/editor.css">
</head>

<body>

<form action="">
    <div id="editor">
        <editor></editor>
        <input type="text" v-model="output">
        <input type="text" v-model="input">
    </div>
</form>
<script src="dist/editor.js"></script>
<script !src="">
    var editor = new Vue({
        el: '#editor'
    })
    console.log(editor.data());
    console.log(editor.output);
</script>
</body>
</html>
